<div class="container">

  <div style="margin-top: 40px;">
    <p>Je ne pouvais décemment pas partir sans une petite pensée pour chacun d'entre vous (spéciale dédicace à feu-PGA).</p>
    <p>A+ les amis ;-)</p>
  </div>

  <form style="margin-top: 40px;">
    {{input type="text" class="form-control" value=username placeholder="Saisis ton trigramme (ou ton quadrigramme si t'es un nouveau) et vois la magie du front opérer ^^" autofocus="autofocus"}}
  </form>

  {{#if message}}
    <div style="margin-top: 40px;">
      <blockquote class="blockquote" style="border-left: 5px solid #EEE; padding-left: 20px;">
        {{message}}
      </blockquote>
    </div>
  {{/if}}
</div>
